<!DOCTYPE html>
<html>

  <head>
    <title>SMSGoGo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="css/normalize.css" rel="stylesheet" media="screen">
    <link href="css/contacts-message.css" rel="stylesheet" media="screen">
  </head>

  <body>
    <!-- Part 1: Wrap all page content here -->
    <div id="wrap">
      <!-- Navigation bar -->
      <div class="navbar navbar navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container">

            <!-- Brand Name -->
            <strong class="offset1">
              <a class="brand" href="#">
                SMSGoGo
              </a>
            </strong>

            <ul class="nav pull-right">

              <!-- Send a message -->
              <li>
                <a href="/message">
                  <i class="icon-envelope"></i>
                  Send a message
                </a>
              </li>

              <!-- Manage contacts -->
              <li>
                <a href="/contacts">
                  <i class="icon-th-list"></i>
                  Manage contacts
                </a>
              </li>


              <!-- Account dropdown -->
              <li class="dropdown pull-right">

                <!-- Account -->
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="icon-wrench"></i>
                  Account
                  <b class="caret"></b>
                </a>

                <!-- Logout -->
                <ul class="dropdown-menu">
                  <li>
                    <a tabindex="-1" href="#">
                      <i class="icon-off" ></i>
                      Logout
                    </a>
                  </li>
                </ul>

              </li>
            </ul>
          </div>
        </div>
      </div>




      <!-- Outbound message page -->
      <div class="container">
        <div class="row">

          <!-- Contact lists -->
          <div class="span4">
            <ul class="nav nav-list">
              <li class="nav-header"><h3>Contact Lists</h3></li>
              <!-- class="active" -->
              <li class="divider"></li>
              <li id="employeeDiv"><a id="employees"><i class="icon-bookmark"></i>Employees</a></li>
              <li class="divider"></li>
              <li id="customerDiv"><a id="customers"><i class="icon-bookmark"></i>Customers</a></li>
              <li class="divider"></li>
              <button id="useLists" class="btn btn-small btn-primary pull-right" type="button">Use lists</button>
            </ul>
          </div>

          <!-- Message area -->
          <div class="span6 offset1">
            <form action="" method="post">
              <h4>Subject</h4>
              <input class="span6" id="textBoxSubject" type="text" name="subject">
              <h4>To</h4>
              <textarea class="span6" id="textBoxNames" type="text"></textarea>
              <h4>Body</h4>
              <textarea class="span6" rows="10" cols="2" name="message"></textarea>
              <button class="btn btn-primary btn-block" type="submit">Send</button>
            </form>
          </div>

        </div>
      </div>
    <div id="push"></div>
    </div>

    <div id="footer">
      <div class="container">
        <h1> This is the footer. </h1>
      </div>
    </div>

    <script src="js/jquery1.9.1.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/message.js"></script>
  </body>
</html>
