<!DOCTYPE html>
<html>

  <head>
    <title>SMSGoGo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="css/normalize.css" rel="stylesheet" media="screen">
    <link href="css/contacts-message.css" rel="stylesheet" media="screen">
  </head>

  <body>
    <!-- Part 1: Wrap all page content here -->
    <div id="wrap">
      <!-- Navigation bar -->
      <div class="navbar navbar navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container">

            <!-- Brand Name -->
            <strong class="offset1">
              <a class="brand" href="#">
               SMSGoGo
              </a>
            </strong>

            <ul class="nav pull-right">
              <!-- Pricing -->
              <li>
                <a href="pricing">
                  <i class="icon-tags"></i>
                  Pricing
                </a>
              </li>

              <li>
                <a href="message">
                  <i class="icon-envelope"></i>
                  Send a message
                </a>
              </li>

              <!-- Manage contacts -->
              <li>
                <a href="contacts">
                  <i class="icon-th-list"></i>
                  Manage contacts
                </a>
              </li>


              <!-- Account dropdown -->
              <li class="dropdown pull-right">

                <!-- Account -->
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="icon-wrench"></i>
                  Account
                  <b class="caret"></b>
                </a>

                <!-- Logout -->
                <ul class="dropdown-menu">
                  <li>
                    <a tabindex="-1" href="#">
                      <i class="icon-off" ></i>
                      Logout
                    </a>
                  </li>
                </ul>

              </li>
            </ul>
          </div>
        </div>
      </div>

    <!-- Payment -->
    <div class="container">
      <ul class="thumbnails" style="text-align: center;">
        <li class="span4">
          <div class="thumbnail">
            <img src="img/payment-silver.png">
            <br>
            <button class="btn btn-block btn-large" type="button">Silver</button>
            <br>
            <br>
            <table class="table table-hover">
              <tr>
                <td>Monthly Fee</td>
                <td>Free</td>
              </tr>

              <tr>
                <td>Price/Message</td>
                <td>P1.50</td>
              </tr>

              <tr>
                <td>Admin</td>
                <td>2</td>
              </tr>

              <tr>
                <td>Number of Phone #</td>
                <td>Unlimited</td>
              </tr>

              <tr>
                <td>Bulk Sending</td>
                <td><i class="icon-ok"></i></td>
              </tr>

              <tr>
                <td>API Access</td>
                <td><i class="icon-remove"></i></td>
              </tr>

              <tr>
                <td>Surveys/Voting</td>
                <td><i class="icon-remove"></i></td>
              </tr>

              <tr>
                <td>Automation</td>
                <td><i class="icon-remove"></i></td>
              </tr>

              <tr>
                <td>CRM Intragation </td>
                <td><i class="icon-remove"></i></td>
              </tr>
            </table>
          </div>
        </li>

        <li class="span4">
          <div class="thumbnail" style="text-align: center;">
            <img src="img/payment-gold.png">
            <br>
            <button class="btn btn-large btn-block btn-warning" type="button">Upgrade to Gold</button>
            <br>
            <br>
            <table class="table table-hover">
              <tr>
                <td>Monthly Fee</td>
                <td>399</td>
              </tr>

              <tr>
                <td>Price/Message</td>
                <td>P1.25</td>
              </tr>

              <tr>
                <td>Admin</td>
                <td>5</td>
              </tr>

              <tr>
                <td>Number of Phone #</td>
                <td>Unlimited</td>
              </tr>

              <tr>
                <td>Bulk Sending</td>
                <td><i class="icon-ok"></i></td>
              </tr>

              <tr>
                <td>API Access</td>
                <td><i class="icon-ok"></i></td>
              </tr>

              <tr>
                <td>Surveys/Voting</td>
                <td><i class="icon-ok"></i></td>
              </tr>

              <tr>
                <td>Automation</td>
                <td><i class="icon-remove"></i></td>
              </tr>

              <tr>
                <td>CRM Intragation </td>
                <td><i class="icon-remove"></i></td>
              </tr>
            </table>
          </div>
        </li>



        <li class="span4">
          <div class="thumbnail" style="text-align: center">
            <img src="img/payment-platinum.png">
            <br>
            <button class="btn btn-large btn-block btn-inverse" type="button">Upgrade to Platinum</button>
            <br>
            <br>
            <table class="table table-hover">
              <tr>
                <td>Monthly Fee</td>
                <td>799</td>
              </tr>

              <tr>
                <td>Price/Message</td>
                <td>P1.00</td>
              </tr>

              <tr>
                <td>Admin</td>
                <td>Unlimited</td>
              </tr>

              <tr>
                <td>Number of Phone #</td>
                <td>Unlimited</td>
              </tr>

              <tr>
                <td>Bulk Sending</td>
                <td><i class="icon-ok"></i></td>
              </tr>

              <tr>
                <td>API Access</td>
                <td><i class="icon-ok"></i></td>
              </tr>

              <tr>
                <td>Surveys/Voting</td>
                <td><i class="icon-ok"></i></td>
              </tr>

              <tr>
                <td>Automation</td>
                <td><i class="icon-ok"></i></td>
              </tr>

              <tr>
                <td>CRM Intragation </td>
                <td><i class="icon-ok"></i></td>
              </tr>
            </table>
          </div>
        </li>
      </ul>
		</div>


    <div id="push"></div>
    </div>

    <div id="footer">
      <div class="container">
      </div>
    </div>

    <script src="js/jquery1.9.1.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>


